<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>
        Cuba Portal
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/favicon.ico}"/>
    <link rel="icon" type="image/gif" th:href="@{/resources/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/resources/css/common.css}"/>
</head>

<body>

<h1> Cuba Portal </h1>
<div sec:authorize="isAuthenticated()">
    User: <span sec:authentication="name">Username</span>
    <br/>
    <form method="post" action="logout" id="logoutForm">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <a href="#" onclick="document.getElementById('logoutForm').submit();">Logout</a>
    </form>
</div>

<div sec:authorize="isAnonymous()">
    <a href="login">Login</a>
</div>
<div style="height:550px;overflow:auto;">
    <form id="createdoc" name="createdoc" method="POST" action="editoutdoc">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="hidden" th:name="id" th:value="${doc.id}"/>
        <div>
            Document type: <input type="text" id="document_type" name="document_type" th:value="${doc.document_type.id}"/>
        </div>
        <div>
            Registration Number: <input type="text" id="registration_number" name="registration_number" th:value="${doc.registration_number}"/>
        </div>
        <div>
            Date: <input type="text" id="date" name="date" th:value="${doc.date}">
        </div>
        <div>
            Addressee: <input type="text" id="addressee" name="addressee" th:value="${doc.addressee.id}">
        </div>
        <div>
            Full Name: <input type="text" id="full_name" name="full_name" th:value="${doc.full_name}">
        </div>
        <div>
            Topic: <input type="text" id="topic" name="topic" th:value="${doc.topic}">
        </div>
        <div>
            Executor: <input type="text" id="executor" name="executor" th:value="${doc.executor.id}">
        </div>
        <div>
            Sign: <input type="text" id="sign" name="sign" th:value="${doc.sign.id}">
        </div>
        <div>
            File: <input type="text" id="file" name="file" >
        </div>
        <div>
            Description: <input type="text" id="description" name="description" th:value="${doc.description}">
        </div>
        <div>
            Title: <input type="text" id="title" name="title" th:value="${doc.title}">
        </div>
        <div>
            Author: <input type="text" id="author" name="author" th:value="${doc.author.id}">
        </div>
        <div>
            Create Date: <input type="text" id="create_date" name="create_date" th:value="${doc.create_date}">
        </div>
        <div>
            Change Date: <input type="text" id="change_date" name="change_date" th:value="${doc.change_date}">
        </div>
        <div>
            State: <input type="text" id="state" name="state" th:value="${doc.state}">
        </div>
        <div>
            Log: <input type="text" id="log" name="log" th:value="${doc.log.id}">
        </div>
        <div>
            Document Description: <input type="text" id="document_description" name="document_description" th:value="${doc.document_description}">
        </div>
        <div>
            Affair: <input type="text" id="affair" name="affair" th:value="${doc.affair.id}">
        </div>
        <div>
            Affair date: <input type="text" id="affair_date" name="affair_date" th:value="${doc.affair_date}">
        </div>
        <div>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </div>
    </form>
</div>
</body>
</html>