<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>
        Cuba Portal
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/favicon.ico}"/>
    <link rel="icon" type="image/gif" th:href="@{/resources/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/resources/css/common.css}"/>
</head>

<body>

<h1> Cuba Portal </h1>
<div sec:authorize="isAuthenticated()">
    User: <span sec:authentication="name">Username</span>
    <br/>
    <form method="post" action="logout" id="logoutForm">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <a href="#" onclick="document.getElementById('logoutForm').submit();">Logout</a>
    </form>
</div>

<div sec:authorize="isAnonymous()">
    <a href="login">Login</a>
</div>
<div style="height:550px;overflow:auto;" sec:authorize="isAuthenticated()">
    <button></button>
    <h1>Outgoing Documents</h1>
    <table class="table table-striped">
        <tr>
            <th>UUID</th>
            <th>Document Type</th>
            <th>Registration Number</th>
            <th>Date</th>
            <th>Addressee</th>
            <th>Full Name</th>
            <th>Topic</th>
            <th>Executor</th>
            <th>Sign</th>
            <th>Description</th>
            <th>Title</th>
        </tr>
        <tr th:each="outdoc:${outdocs}">
            <td th:text="${outdoc.id}"></td>
            <td th:text="${outdoc.document_type.name}"></td>
            <td th:text="${outdoc.registration_number}"></td>
            <td th:text="${outdoc.date}"></td>
            <td th:text="${outdoc.addressee.title}"></td>
            <td th:text="${outdoc.full_name}"></td>
            <td th:text="${outdoc.topic}"></td>
            <td th:text="${outdoc.executor.second_name}"></td>
            <td th:text="${outdoc.sign.second_name}"></td>
            <td th:text="${outdoc.description}"></td>
            <td th:text="${outdoc.title}"></td>
        </tr>
    </table>
</div>
</body>
</html>